form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

    form input {
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
    }

    form button {
        padding: 10px;
        font-size: 1rem;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
    }
